@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #bf5af2 !important;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: auto;
  background-color: #0d0d0d;
  overflow-x: hidden;
}

.swiper-slide {
  display: flex !important;
}